[Unit]
Description=TCP over Kafka SOCKS5 client proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/tcp-over-kafka client --listen 0.0.0.0:1234 --broker 10.253.15.166:9092 --tunnel-id poc-socks5 --group tcp-over-kafka-client-socks5
Restart=always
RestartSec=1
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
